In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_selection import chi2
import pickle

In [2]:
# As labels are not allowed, we are gonna be using Train Data Set
train_df = pd.read_csv("../learn-ai-bbc_1/BBC News Train.csv")

In [3]:
train_df

,ArticleId,Text,Category
0,1833,worldcom ex-boss launches defence lawyers defe...,business
1,154,german business confidence slides german busin...,business
2,1101,bbc poll indicates economic gloom citizens in ...,business
3,1976,lifestyle governs mobile choice faster bett...,tech
4,917,enron bosses in $168m payout eighteen former e...,business
5,1582,howard truanted to play snooker conservative...,politics
6,651,wales silent on grand slam talk rhys williams ...,sport
7,1797,french honour for director parker british film...,entertainment
8,2034,car giant hit by mercedes slump a slump in pro...,business
9,1866,fockers fuel festive film chart comedy meet th...,entertainment
10,1683,blair rejects iraq advice calls tony blair has...,politics
11,1153,housewives lift channel 4 ratings the debut of...,entertainment
12,1028,uk coal plunges into deeper loss shares in uk ...,business
13,812,bp surges ahead on high oil price oil giant bp...,business
14,707,ireland 21-19 argentina an injury-time dropped...,sport
15,1588,wenger signs new deal arsenal manager arsene w...,sport
16,342,u2 s desire to be number one u2 who have won ...,entertainment
17,486,hantuchova in dubai last eight daniela hantuch...,sport
18,1344,melzer shocks agassi in san jose second seed a...,sport
19,1552,moving mobile improves golf swing a mobile pho...,tech
20,1547,hewitt overcomes wobble in sydney lleyton hewi...,sport
21,177,carry on star patsy rowlands dies actress pats...,entertainment
22,1785,serena becomes world number two serena william...,sport
23,1617,ferguson urges henry punishment sir alex fergu...,sport
24,405,bt boosts its broadband packages british telec...,tech
25,1561,china had role in yukos split-up china lent ru...,business
26,702,peer-to-peer nets here to stay peer-to-peer ...,tech
27,1026,henman to face saulnier test british number on...,sport
28,1527,uk will stand firm on eu rebate britain s Â£3b...,politics
29,1503,iran budget seeks state sell-offs iran s presi...,business
...,...,...,...
1460,714,music man to the oscars bill conti s job of mu...,entertainment
1461,314,speech takes on search engines a scottish firm...,tech
1462,605,da vinci code is lousy history the plot of a...,entertainment
1463,2102,abbas will not tolerate attacks palestinian ...,politics
1464,1454,broadband set to revolutionise tv bt is starti...,tech
1465,403,warnings about junk mail deluge the amount of ...,tech
1466,1064,house prices drop as sales slow house prices f...,business
1467,937,charvis set to lose fitness bid flanker colin ...,sport
1468,454,preview: ireland v england (sun) lansdowne roa...,sport
1469,1819,warnings on woeful wi-fi security companies ar...,tech
1470,1739,golden economic period to end ten years of g...,business
1471,1870,ferrero eyes return to top form former world n...,sport
1472,1806,kelly trails new discipline power teachers cou...,politics
1473,304,dallaglio eyeing lions tour place former engla...,sport
1474,1257,indy buys into india paper irish publishing gr...,business
1475,980,budget to set scene for election gordon brown ...,politics
1476,783,bollywood draws global stars british actress a...,entertainment
1477,883,web logs aid disaster recovery some of the mos...,tech
1478,1144,visa row mandarin made sir john the top civil ...,politics
1479,2058,high fuel costs hit us airlines two of the lar...,business
1480,1124,qantas sees profits fly to record australian a...,business
1481,950,liverpool pledge to keep gerrard liverpool chi...,sport
1482,1880,file-swappers ready new network legal attacks ...,tech
1483,1904,beastie boys win sampling battle us rappers be...,entertainment
1484,1774,hyundai to build new india plant south korea s...,business
1485,857,double eviction from big brother model caprice...,entertainment
1486,325,dj double act revamp chart show dj duo jk and ...,entertainment
1487,1590,weak dollar hits reuters revenues at media gro...,business
1488,1587,apple ipod family expands market apple has exp...,tech
1489,538,santy worm makes unwelcome visit thousands of ...,tech

In [5]:
# Numerical Encoding or Categorization for Category Column
train_df["Label_Encoding"] = train_df["Category"].factorize()[0]

In [6]:
train_df

,ArticleId,Text,Category,Label_Encoding
0,1833,worldcom ex-boss launches defence lawyers defe...,business,0
1,154,german business confidence slides german busin...,business,0
2,1101,bbc poll indicates economic gloom citizens in ...,business,0
3,1976,lifestyle governs mobile choice faster bett...,tech,1
4,917,enron bosses in $168m payout eighteen former e...,business,0
5,1582,howard truanted to play snooker conservative...,politics,2
6,651,wales silent on grand slam talk rhys williams ...,sport,3
7,1797,french honour for director parker british film...,entertainment,4
8,2034,car giant hit by mercedes slump a slump in pro...,business,0
9,1866,fockers fuel festive film chart comedy meet th...,entertainment,4
10,1683,blair rejects iraq advice calls tony blair has...,politics,2
11,1153,housewives lift channel 4 ratings the debut of...,entertainment,4
12,1028,uk coal plunges into deeper loss shares in uk ...,business,0
13,812,bp surges ahead on high oil price oil giant bp...,business,0
14,707,ireland 21-19 argentina an injury-time dropped...,sport,3
15,1588,wenger signs new deal arsenal manager arsene w...,sport,3
16,342,u2 s desire to be number one u2 who have won ...,entertainment,4
17,486,hantuchova in dubai last eight daniela hantuch...,sport,3
18,1344,melzer shocks agassi in san jose second seed a...,sport,3
19,1552,moving mobile improves golf swing a mobile pho...,tech,1
20,1547,hewitt overcomes wobble in sydney lleyton hewi...,sport,3
21,177,carry on star patsy rowlands dies actress pats...,entertainment,4
22,1785,serena becomes world number two serena william...,sport,3
23,1617,ferguson urges henry punishment sir alex fergu...,sport,3
24,405,bt boosts its broadband packages british telec...,tech,1
25,1561,china had role in yukos split-up china lent ru...,business,0
26,702,peer-to-peer nets here to stay peer-to-peer ...,tech,1
27,1026,henman to face saulnier test british number on...,sport,3
28,1527,uk will stand firm on eu rebate britain s Â£3b...,politics,2
29,1503,iran budget seeks state sell-offs iran s presi...,business,0
...,...,...,...,...
1460,714,music man to the oscars bill conti s job of mu...,entertainment,4
1461,314,speech takes on search engines a scottish firm...,tech,1
1462,605,da vinci code is lousy history the plot of a...,entertainment,4
1463,2102,abbas will not tolerate attacks palestinian ...,politics,2
1464,1454,broadband set to revolutionise tv bt is starti...,tech,1
1465,403,warnings about junk mail deluge the amount of ...,tech,1
1466,1064,house prices drop as sales slow house prices f...,business,0
1467,937,charvis set to lose fitness bid flanker colin ...,sport,3
1468,454,preview: ireland v england (sun) lansdowne roa...,sport,3
1469,1819,warnings on woeful wi-fi security companies ar...,tech,1
1470,1739,golden economic period to end ten years of g...,business,0
1471,1870,ferrero eyes return to top form former world n...,sport,3
1472,1806,kelly trails new discipline power teachers cou...,politics,2
1473,304,dallaglio eyeing lions tour place former engla...,sport,3
1474,1257,indy buys into india paper irish publishing gr...,business,0
1475,980,budget to set scene for election gordon brown ...,politics,2
1476,783,bollywood draws global stars british actress a...,entertainment,4
1477,883,web logs aid disaster recovery some of the mos...,tech,1
1478,1144,visa row mandarin made sir john the top civil ...,politics,2
1479,2058,high fuel costs hit us airlines two of the lar...,business,0
1480,1124,qantas sees profits fly to record australian a...,business,0
1481,950,liverpool pledge to keep gerrard liverpool chi...,sport,3
1482,1880,file-swappers ready new network legal attacks ...,tech,1
1483,1904,beastie boys win sampling battle us rappers be...,entertainment,4
1484,1774,hyundai to build new india plant south korea s...,business,0
1485,857,double eviction from big brother model caprice...,entertainment,4
1486,325,dj double act revamp chart show dj duo jk and ...,entertainment,4
1487,1590,weak dollar hits reuters revenues at media gro...,business,0
1488,1587,apple ipod family expands market apple has exp...,tech,1
1489,538,santy worm makes unwelcome visit thousands of ...,tech,1

In [7]:
# Frequency Distribution for Each Class
print (train_df["Category"].value_counts())
print (train_df["Label_Encoding"].value_counts())


# Based on frequency distribution  we can say that data is balanced, not suffering from class imbalance.

sport            346
business         336
politics         274
entertainment    273
tech             261
Name: Category, dtype: int64
3    346
0    336
2    274
4    273
1    261
Name: Label_Encoding, dtype: int64

In [11]:
# Preserving the Category Coding
category_labels_to_id = {"business":0,"tech":1,"politics":2,"sport":3,"entertainment":4}
id_to_category = {0:"business",1:"tech",2:"politics",3:"sport",4:"entertainment"}

In [12]:
# Check the number of Null in our Data Set
train_df.isnull().sum()

ArticleId         0
Text              0
Category          0
Label_Encoding    0
dtype: int64

In [13]:
"""
Setting TF-IDF
--------------
Apply sublinear tf scaling, i.e. replace tf with 1 + log(tf).
min_df = Ignore all the words that have a document frequency less than min_df
"""

tfidf = TfidfVectorizer(sublinear_tf=True, min_df=7, norm='l2', encoding='utf-8', ngram_range=(1, 3),lowercase = True,stop_words='english')

In [14]:
# Training the tfidf feature
tfidf_feature = tfidf.fit_transform(train_df.Text).toarray()

In [74]:
with open('news_classification_tfidf_vectorizer', 'wb') as output:
    pickle.dump(tfidf, output)

In [ ]:
#Chi Square is a statistical technique, used for calculating correlation of features with outcome

In [15]:
N = 5  # We are going to look for top 3 categories
labels = train_df.Label_Encoding

#For each category, find words that are highly corelated to it
for category, category_id in sorted(category_labels_to_id.items()):
  features_chi2 = chi2(tfidf_feature, labels == category_id)              # Do chi2 analyses of all items in this category
  indices = np.argsort(features_chi2[0])                                  # Sorts the indices of features_chi2[0] - the chi-squared stats of each feature
  feature_names = np.array(tfidf.get_feature_names())[indices]            # Converts indices to feature names ( in increasing order of chi-squared stat values)
  unigrams = [v for v in feature_names if len(v.split(' ')) == 1]         # List of single word features ( in increasing order of chi-squared stat values)
  bigrams = [v for v in feature_names if len(v.split(' ')) == 2]          # List for two-word features ( in increasing order of chi-squared stat values)
  trigrams = [v for v in feature_names if len(v.split(" "))==3]
  print("# '{}':".format(category))
  print("  . Most correlated unigrams:\n       . {}".format('\n       . '.join(unigrams[-N:]))) # Print 3 unigrams with highest Chi squared stat
  print("  . Most correlated bigrams:\n       . {}".format('\n       . '.join(bigrams[-N:]))) # Print 3 bigrams with highest Chi squared stat
  print("  . Most correlated Trigrams:\n       . {}".format('\n       . '.join(trigrams[-N:]))) # Print 3 bigrams with highest Chi squared stat

# 'business':
  . Most correlated unigrams:
       . economy
       . oil
       . growth
       . bank
       . shares
  . Most correlated bigrams:
       . chief executive
       . oil prices
       . stock market
       . economic growth
       . analysts said
  . Most correlated Trigrams:
       . current account deficit
       . pre tax profits
       . chief financial officer
       . high oil prices
       . securities exchange commission
# 'entertainment':
  . Most correlated unigrams:
       . awards
       . album
       . singer
       . actor
       . film
  . Most correlated bigrams:
       . film festival
       . won best
       . best film
       . los angeles
       . box office
  . Most correlated Trigrams:
       . uk singles chart
       . best supporting actress
       . best supporting actor
       . berlin film festival
       . million dollar baby
# 'politics':
  . Most correlated unigrams:
       . tories
       . party
       . blair
       . election
       . labour
  . Most correlated bigrams:
       . mr brown
       . general election
       . prime minister
       . tony blair
       . mr blair
  . Most correlated Trigrams:
       . tory leader michael
       . leader charles kennedy
       . mr howard said
       . leader michael howard
       . mr blair said
# 'sport':
  . Most correlated unigrams:
       . season
       . injury
       . coach
       . match
       . cup
  . Most correlated bigrams:
       . year old
       . world cup
       . grand slam
       . champions league
       . australian open
  . Most correlated Trigrams:
       . world cross country
       . coach andy robinson
       . sir alex ferguson
       . 31 year old
       . told bbc sport
# 'tech':
  . Most correlated unigrams:
       . microsoft
       . computer
       . technology
       . software
       . users
  . Most correlated bigrams:
       . high definition
       . news website
       . anti virus
       . mobile phones
       . mobile phone
  . Most correlated Trigrams:
       . anti virus software
       . anti virus firm
       . told bbc news
       . digital music players
       . bbc news website

In [16]:
# Train Test Split
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

model = RandomForestClassifier()

In [17]:
#Split Data
X_train, X_test, y_train, y_test= train_test_split(tfidf_feature, labels, test_size=0.25, random_state=0)

In [18]:
model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [75]:
with open('news_classification_rf_model', 'wb') as output:
    pickle.dump(model, output)

In [20]:
predicted_train = model.predict(X_train)
predicted_test = model.predict(X_test)

In [21]:
from sklearn.metrics import classification_report

In [22]:
print (classification_report(y_test,predicted_test))

              precision    recall  f1-score   support

           0       0.96      0.94      0.95        86
           1       0.97      0.93      0.95        67
           2       0.94      0.94      0.94        63
           3       0.93      0.98      0.95        84
           4       0.95      0.96      0.95        73

    accuracy                           0.95       373
   macro avg       0.95      0.95      0.95       373
weighted avg       0.95      0.95      0.95       373

In [23]:
print (classification_report(y_train,predicted_train))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       250
           1       1.00      1.00      1.00       194
           2       1.00      1.00      1.00       211
           3       1.00      1.00      1.00       262
           4       1.00      1.00      1.00       200

    accuracy                           1.00      1117
   macro avg       1.00      1.00      1.00      1117
weighted avg       1.00      1.00      1.00      1117

In [24]:
""" Module for prediction"""
# id_to_category = {0:"business",1:"tech",2:"politics",3:"sport",4:"entertainment"}

' Module for prediction'

In [68]:
test_article = "Iron man actor rober junior came for promotion. The film is getting lot of attention from movie lovers across the globe. Its gonna be interesting to see how this movie performs on box-office."

In [43]:
test_article = input("Enter the text of your article")

Enter the text of your articleCondition of election in Pakistan is not that great. Political parties are trying to influence decision of voters by all illegal means. An independent observer team from UN is must to make sure that fair election happens in the country and democracy is preserved.

In [69]:
test_article = test_article.lower()

In [70]:
test_frame = pd.DataFrame({"Text":[test_article]})
print (test_frame)

                                                Text
0  iron man actor rober junior came for promotion...

In [71]:
test_feature = tfidf.transform(test_frame.Text).toarray()

In [72]:
prediction = model.predict(test_feature)

In [73]:
print (prediction)

[4]